<ul class="nav" role="menu">
    <li class="{% if page.id == "home" %}active{% endif %}" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="{% if page.id == "about" %}active{% endif %}" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="{% if page.id == "team" %}active{% endif %}" role="menuitem"><a href="{{site.baseurl}}team/">Team</a></li>
    <li class="{% if page.id == "materials" %}active{% endif %}" role="menuitem"><a href="{{site.baseurl}}materials/">Materials</a></li>
    <!--li class="{% if page.id == "getting-started" %}active{% endif %}" role="menuitem"><a href="{{site.baseurl}}tag/getting-started/">Getting Started</a></li-->
</ul>
