$base-font-family: 'Roboto', sans-serif;
$base-font-weight: 300;
$bold-font-weight: 500;
$base-font-size:   16px;
$smaller-font-size: 14px;

$title-font-family: 'Rajdhani', sans-serif;
$title-font-weight: 700;

$header-bg-image: url("/assets/img/header_background_bw.jpg");

$text-color:       #333;
$white-color:      #fff;
$light-gray-color: #f3f3f3;
$dark-gray-color:  #555;
$mid-light-gray-color: #ADADAD;
$acblue-color: 	   #1E5055;
$acgreen-color:    #0F783C;
$acred-color:      #991933;


/* Body and basic stuff */

body {
    overflow-x: hidden;
    font-weight: $base-font-weight;
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $text-color;
}

b {
    font-weight: $bold-font-weight;   
}

p {
    font-size: $base-font-size;
}

li {
    font-size: $base-font-size;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: $acgreen-color;
}

a.footer_link {
    color: $light-gray-color;
    text-decoration: underline;
}


h1 {
    text-transform: uppercase;
    font-family: $title-font-family;
    font-weight: $title-font-weight;
    color: $acblue-color;
    font-size: 2.8em;
    padding-top: 80px;
    padding-bottom: 15px;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    font-family: $title-font-family;
    color: $acred-color;
    font-size: 2em;
    padding-top: 80px;
    padding-bottom: 15px;
    text-align: center;
}

.img-centered {
    margin: 0 auto;
}

.uppercase_text {
    text-transform: uppercase;
}

table {
	font-size: $smaller-font-size;
}

.page-content {
    padding-bottom: 60px;
}

/* Header */

header {
    text-align: center;
    color: $light-gray-color;
    background-image: $header-bg-image; 
    background-size: 150%;
    background-repeat: no-repeat;
    margin-bottom: -30px;
}

@media(min-width:768px) {
    header {
        background-size: 100%;
    }
}

header img {
    display: block;
    margin: 0 auto 20px;
    padding-top: 20px;
}

header .container {
    padding-top: 75px;
    padding-bottom: 10px;
}

.image_credits {
    float:right;
    font-size:11px;
}


/* Nav bar */

@media(max-width:1000px)  {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse {
        overflow-x: visible !important;
    }
    .navbar-collapse.in {
      overflow-y: auto !important;
    }
    .collapse.in {
      display: block !important;
    }
    .navbar-toggle { display: block !important; } 
    .navbar-header { width: 100%; }
}

.navbar {
    font-family: $title-font-family;
    font-weight: $title-font-weight;
    background-color: $acblue-color;
}

.navbar-right li {
    font-size:90%;
}

.navbar a:focus {
    outline: 0;
}

.navbar a:hover {
    color: $mid-light-gray-color!important;
}

.navbar-default .navbar-toggle {
    border-color: $white-color!important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $white-color!important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: $dark-gray-color;
    background-color: $white-color;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar-default .navbar-brand {
    color: $light-gray-color;
}

.navbar-default .navbar-nav>li>a {
    color: $light-gray-color;   
}

/* Scroll button */

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
    background-color: #1E5055;
    border-color: #1E5055;
}

.scroll-top .btn:active {
    background-color: #ADADAD;
    border-color: #ADADAD;
}

.scroll-top .btn:focus {
    outline: 0;
}

/* News posts */

.news-list {
    list-style-type: none;
}

.post-title {
    text-align: left;
    padding-bottom: 0px;
}

.post-meta {
    font-family: $title-font-family;
    color: $acred-color;
    font-size: 1.3em;
    padding-bottom: 5px;
}

.post-list-title {
    font-family: $title-font-family;
    color: $acred-color;
    font-size: 1.5em;
    padding-bottom: 5px;
}

.post-list-title a {
    color: $acred-color;
}

.post-list-meta {
    color: $dark-gray-color;
    padding-bottom: 5px;
}