---
layout: default
id: news
---
<div class="post">
  <div class="page-content">
  	<section id="{{ page.id }}">
    	<div class="container">
    		<h1 class="post-title">Audio Commons - {{ page.title }}</h1>
    		<p class="post-meta">
    		{{ page.date | date: "%b %-d, %Y" }}
    		{% if page.author %} • by {{ page.author }}{% endif %}
    		{% if page.meta %} • {{ page.meta }}{% endif %}
    		</p>    	
    		<div class="post-content">
		      {{ content }}
 		    </div>
 		</div>
    </section>
  </div>
</div>
